
@import "tailwindcss";

:root {
  --tb-purple: #7c3aed;
  --tb-yellow: #eab308;
  --tb-pink: #ec4899;
  --tb-dark: #0f172a;
  --tb-surface: #1e293b;
  --tb-border: #334155;
  --tb-muted: #94a3b8;
}

body {
  background-color: #0f172a;
  color: #f1f5f9;
}
